new review form

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form action='/reviews' method="POST">
  <h3> Beach </h3>

  List of beaches <br>
  <% Beach.all.each do |beach| %>
  <input type="radio" name="beach[id]" value="<%= beach.id %>"><%= beach.name %></input><br>
  <% end %>
  <br>
  Create New Beach: <br>
  Name: <input name="beach[name]" type="text">
  Shore: <input name="beach[shore]" type="text">
  City: <input name="beach[city]" type="text">
  <br>

  <h3>Rating:</h3>
    <input type="radio" name="review[rating]" value="1"> 1 <br>
    <input type="radio" name="review[rating]" value="2"> 2 <br>
    <input type="radio" name="review[rating]" value="3"> 3 <br>
    <input type="radio" name="review[rating]" value="4"> 4 <br>
    <input type="radio" name="review[rating]" value="5"> 5 <br>
<br>

  <label for="review[description]">Description: </label><br>
  <textarea name="review[description]"></textarea>

  <input type="submit" name="submit" >


</form>
