<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form action='/login' method="POST">

  Email: <input type="text" name="email">

  Password: <input type="text" name="password">

  <input type="submit" name="submit">
</form>

No account? <a href="/signup">Sign Up!</a>
