sign up

<form action='/signup' method="POST">
  Email: <input type="text" name="email">

  Username: <input type="text" name="username">

  Passowrd: <input type="text" name="password">

  <input type="submit" name="submit">
</form>
