<% if !!flash(:message) %>
  <%= flash[:message] %>
<% end %>

<form action='/signup' method="POST">
  Email: <input type="text" name="email" required>

  Username: <input type="text" name="username" required>

  Password: <input type="password" name="password" required>

  <input type="submit" name="submit">
</form>
